<div id='container' ng-controller="ShortenController">
  <div class="navigation">
    <li class="links-ref ref"><a href='#/links'>Links</a></li>
    <li class="shorten-ref ref"><a href='#/shorten'>Shorten</a></li>
    <li class="logout"><a href='#/signin'>Leave</a></li>
  </div>
  <form name="shortlyForm" ng-submit="addLink(newLink)" no-validate>

    <input name="newLink" ng-class="{'error': ShortenController.$invalid && ShortenController.$dirty}" ng-model="link.url" placeholder="Type your link here" type="url" required/>
  
    <button ng-disabled="ShortenController.$invalid" class="shortener" ng-click="addLink(newLink)" type="submit" >Shorten Link</button>
  </form>
</div>