body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1.app-title {
    font-style: italic;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-shadow: 3.5px 3.5px #749de8;
    color: #cacaca;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #e4eaf3;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
  list-style: none;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ddd;
  height: 100%;
}

.navigation li a.selected {
  background-color: #ccc;
  height: 100%;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

img.icon {
    display: inline-block;
    /* float: left; */
    width: 55px;
}

input[type=url] {
  display: inline
}

input[type=url]:focus {
  outline: none;
}


.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

.navigation {
    background: #c7deff;
}

input {
    width: 360px;
    display: block;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 5px;
    margin: 0 auto;
}

body {
    text-align: center;
}

button.sign-in {
  margin-top: 10px;
}

input {
    margin-top: 20px;
}

img.icon {
    display: inline-block;
    width: 49px;
    margin-top: -9px;
}

h1.app-title {
    font-style: inherit;
    margin-bottom: 10px;
    letter-spacing: 0px;
    text-shadow: 2px 2px #454546;
    color: #eeeeee;
    display: inline-block;
    animation: test;
    animation-duration: 4s;
    font-weight: bolder;
    font-family: helvetica;
    font-size: 24px;
    /* margin-top: -16px; */
}
li.logout {
    float: right;
    height: 100%;
}

button.shortener {
    margin: 15px;
}

.navigation {

  background: #16222A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          
}

.navigation a {
    color: #fff;
}

.title-block {
    background: #2C3E50;
    background: -webkit-linear-gradient(to left, #2C3E50 , #4CA1AF);
    background: linear-gradient(to left, #2C3E50 , #4CA1AF);
    padding: 25px;
    margin-top: -10px;
}

.navigation {
    margin-top: -10px;
}

.link-instance.ng-scope {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50);
    background: linear-gradient(to left, #bdc3c7 , #ffffff);
    border: 1px solid #dde0e2;
    margin-bottom: -1px;
}

.link-instance.ng-scope {
    padding-top: 15px;
    padding-bottom: 15px;
}

.title.ng-binding {
    font-weight: bold;
    font-size: 15px;
}

.visits {
    font-size: 10px;
    margin-top: 4px;
}